body {
    font-family: Arial, sans-serif;
    background-color: #6001d2;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f1f1f1 !important;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #6001d2;
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #5a01bf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #5a01bf;
}
.birthday{
    width: 200px;
}
